.cke_toolbar.active {
    position: relative;
}

.cke_toolbar.active:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 6px;
    bottom: 5px;
    left: 0;
    background-color: #8B96DD;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    -moz-box-shadow: 0 0 10px #2a40e1;
    -webkit-box-shadow: 0 0 10px #2a40e1;
    box-shadow: 0 0 10px #2a40e1;

    outline: 2px solid #8B96DD\9; /* IE8 and below */
}

.cke_toolbar.active .cke_combo,
.cke_toolbar.active .cke_toolgroup {
    position: relative;
    z-index: 2;
}

.cke_toolbar.active .cke_combo_button {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    -o-user-select: none;
    user-select: none;
}

.toolbar {
    width: 100%;
    border: 1px solid transparent;
}

.toolbar button.cke_button {
    cursor: pointer;

    display: inline-block;
    padding: 4px 6px;
    outline: 0;
    border: 1px solid #a6a6a6;
}

.toolbar button.hidden {
    display: none;
}

.toolbar button.left {
    float: left;
}

.toolbar button.right {
    float: right;
    margin: 0 0 5px 6px;
}

.configContainer.hidden,
.toolbarModifier.hidden {
    display: none;
}

.toolbarModifier {
    padding: 0;
    overflow: hidden;
    width: 100%;
    position: relative;

    height: 500px;
    overflow-y: auto;
}

.toolbarModifier ::-moz-focus-inner {
    border: 0;
}

.toolbarModifier :focus,
.toolbar button:focus,
.configContainer > textarea:focus {
    outline: none;
    outline: 2px solid #8B96DD\9; /* IE8 and below */

    -moz-box-shadow: 0 0 10px #2a40e1;
    -webkit-box-shadow: 0 0 10px #2a40e1;
    box-shadow: 0 0 10px #2a40e1
}

.toolbarModifier .empty {
    display: none;
}

.toolbarModifier.empty-visible .empty {
    display: list-item;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=60)';
    filter: alpha(opacity=60);
    opacity: 0.6;
}

.toolbarModifier > ul {
    padding: 0;
    margin: 0;
    border: 1px solid #cacaca;;
}

.toolbarModifier > ul ul {
    padding-left: 0;
}

.toolbarModifier > ul ul ul {
    padding: 2px 0;
}

.toolbarModifier li > p {
    padding: 0;
}

.toolbarModifier ul li > p {
    color: #3f0031;
}

.toolbarModifier ul ul li > p {
    color: #3d3d3d;
}

.toolbarModifier li > p > span > button {
    font-family: 'fontello';
    color: #000;
    background-color: #e5e5e5;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    padding: 0;
    border: none;
    margin: 0 .5em 0 0;
    width: 18px;
    height: 18px;

    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;

    -webkit-transition: color 200ms, background-color 200ms;
    -moz-transition: color 200ms, background-color 200ms;
    -ms-transition: color 200ms, background-color 200ms;
    -o-transition: color 200ms, background-color 200ms;
    transition: color 200ms, background-color 200ms;
}

.toolbarModifier li > p > span > button:not(.disabled):hover {
    color: #e5e5e5;
    background-color: #000;
}

.toolbarModifier li > p > span > button.move.disabled {
    cursor: default;

    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=20)';
    filter: alpha(opacity=20);
    opacity: 0.2;
}

.toolbarModifier li {
    list-style-type: none;
}

.toolbarModifier li[data-type="group"].active,
.toolbarModifier li[data-type="group"]:hover,
.toolbarModifier li[data-type="separator"].active,
.toolbarModifier li[data-type="separator"]:hover {
    overflow: hidden;
    z-index: 2;
}

.toolbarModifier li[data-type="group"].active,
.toolbarModifier li[data-type="separator"].active,
.toolbarModifier li[data-type="group"].active:hover,
.toolbarModifier li[data-type="separator"].active:hover {
    outline: 1px solid #9fe1a9;
    background: #e7ffec;
}

.toolbarModifier li[data-type="group"]:hover,
.toolbarModifier li[data-type="separator"]:hover {
    outline: 1px solid #4169e1;
    background: #eff3ff;
}

.toolbarModifier li {
    -webkit-transition: background 1000ms, outline 1000ms;
    -moz-transition: background 1000ms;
    -ms-transition: background 1000ms;
    -o-transition: background 1000ms;
    transition: background 1000ms;
}

.toolbarModifier p {
    margin: 0;
}

.toolbarModifier li[data-type="group"]:after,
.toolbarModifier li[data-type="separator"]:after {
    content: '';
    bottom: -1px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #cacaca;
    position: absolute;
}

.toolbarModifier li[data-type="subgroup"] {
    position: relative;
}
.toolbarModifier li[data-type="subgroup"]:after {
    content: '';
    bottom: -1px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #cacaca;
    position: absolute;
}

.toolbarModifier li[data-type="subgroup"]:last-of-type {
    border-bottom: none;
}

.toolbarModifier li[data-type="separator"],
.toolbarModifier li[data-type="group"],
.toolbarModifier li[data-type="subgroup"] {
    position: relative;
}

.toolbarModifier li[data-type="separator"] > p,
.toolbarModifier li[data-type="group"] > p {
    border-right: 1px solid #cacaca;
}

.toolbarModifier li[data-type="separator"] > p {
    width: 100%;
    padding-left: 7px;
}
.toolbarModifier li[data-type="group"] > p,
.toolbarModifier li[data-type="subgroup"] > p {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 123px;
    padding-left: 7px;
}

.toolbarModifier li[data-type="separator"] > p > span,
.toolbarModifier li[data-type="group"] > p > span,
.toolbarModifier li[data-type="subgroup"] > p > span {
    position: absolute;
    top: 50%;
    margin-top: -10px;
}

.toolbarModifier li[data-type="group"] > ul,
.toolbarModifier li[data-type="subgroup"] > ul {
    margin-left: 130px;
}

.toolbarModifier li[data-type="separator"],
.toolbarModifier li[data-type="subgroup"] {
    min-height: 32px;
}

.toolbarModifier li[data-type="button"] {
    cursor: pointer;
    background-color: #fff;
    display: inline-block;
    margin-right: 5px;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.toolbarModifier li[data-type="button"] > button,
.toolbarModifier li[data-type="button"] > label {
    margin: 0;
}

.toolbarModifier li[data-type="button"] > label {
    display: inline-block;
    padding: 1px 3px;
}

.toolbarModifier li[data-type="button"] > label > *  {
    vertical-align: middle;
}

.toolbarModifier li[data-type="button"] .cke_combo_text {
    white-space: nowrap;
}
.toolbarModifier li[data-type="button"] .cke_toolgroup,
.toolbarModifier li[data-type="button"] .cke_combo_button {
    margin-top: 0;
    margin-bottom: 0;
}

.configContainer > textarea {
    font-family: monospace;
    font-size: 12px;
    resize: none;
    width: 100%;
    height: 600px;
    outline: 1px solid #cacaca;
    padding: 0;
    border: 0 solid transparent;
    outline: 1px solid #cacaca;
}

/* Text modifier */
#toolbarModifierWrapper .invalid .CodeMirror {
    background: #fff8f8;
}

.toolbarModifier > .codemirror-wrapper {
    overflow-y: auto;
}

.toolbarModifier > div.hint {
    float: right;
    width: 135px;
    overflow-y: auto;

    padding: 0 20px;
    font-size: 1.4em;
}

.toolbarModifier > div.hint.hidden {
    width: 0;
    padding: 0;
}

.toolbarModifier > div.hint > ul {
    padding-left: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

.toolbarModifier > div.hint > ul > li > ul {
    padding-left: 5px;
    text-transform: none;
    font-weight: normal;
    font-family: monospace;

    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;

    -o-user-select: auto;
    user-select: auto;
}

.toolbarModifier > div.hint > h3 {
    margin-top: 0;
    font-size: 13px;
}

.toolbarModifier > div.hint .cke_toolgroup {
    padding: 2px;
}