#main,
#toolbar {
	.adjoined {
		&-top {
			position: relative;
			background-color: transparent;

			& > .grid-container {
				position: relative;
			}

			&:before {
				content: '';
				top: 0;
				left: 0;
				right: 0;
				background: @global-link-font-color;
				position: absolute;
			}
		}
	}
}

/* There were some inherited styles for links. */
div.cke a.cke_button,
div.cke .cke_combo_button {
	border-bottom: none;

	&.cke_combo_button {
		border-bottom: 1px solid #a6a6a6;
	}
}

#main .adjoined-top:before {
	height: 335px;
}

#toolbar .adjoined-top:before {
	height: 219px;
}

.CodeMirror pre {
	border: none;
	padding: 0;
	margin: 0;
}

.content {
	.grid-switch-magic {
		margin: 2.75*@global-flow-vgap 0 0;
	}
}

#info-box {
	padding-bottom: 0;

	> div {
		width: 100%;

		.toggler {
			padding-right: 0;
		}

		&:not(#instructions-container) {
			text-align: right;

			h2 {
				float: left;
				margin-top: 0;
			}
		}
	}
}
