#main,
#toolbar {
	.adjoined {
		&-top {
			position: relative;
			background-color: transparent;

			& > .grid-container {
				position: relative;
			}

			&:before {
				content: '';
				top: 0;
				left: 0;
				right: 0;
				background: @global-link-font-color;
				position: absolute;
			}
		}
	}
}

#main .adjoined-top:before {
	height: 335px;
}

#toolbar .adjoined-top:before {
	height: 219px;
}

.CodeMirror pre {
	border: none;
	padding: 0;
	margin: 0;
}

.content {
	.grid-switch-magic {
		margin: 2.75*@global-flow-vgap 0 0;
	}
}
