/*
This file is a copyrighted work of CKSource and is protected under Poland and worldwide copyright laws and treaty provisions.
CKSource grants you permission to distribute this file exclusively as part of the CKEditor SDK.
It is forbidden to copy and distribute this file in its original or modified form in any other way than together with the CKEditor SDK that this file constitutes an integral part of.
*/

@import "lesshat.less";
@import "base.less";
@import "fonts.less";

/* Global */

// IE <3.
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
	display: block;
}

body, html {
	margin: 0;
	padding: 0;
	font: @base-font-size~"/"@base-line-height @sample-font-stack;
	color: @sample-text-color;
}

.centered-page-content() {
	max-width: 960px;
	margin: 0 auto;
}


header, main > section, footer {
	padding-left: @sample-standard-hgap;
	padding-right: @sample-standard-hgap;
}

header > div,
main > section,
footer > div,
.top-navigation > div {
	.centered-page-content();
}

/* Header */

header {
	height: 130px;
	background: @sample-header-background;

	& > div {
		position: relative;
		//overflow: hidden;
		height: 100%;
		background: url( ../img/header-separator.png ) center bottom no-repeat;
	}

	a {
		outline: none;
	}

	h1 {
		position: absolute;
		left: 0;
		top: 50px;
		margin: 0;

		img {
			border: transparent;
		}
	}
}

/* Navigations */

.navigation {
	display: block;
	overflow: hidden;

	ul {
		float: left;
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
		}
	}
}

.top-navigation {
	height: 26px;
	background: @sample-top-navigation-background;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	padding: 0 @sample-standard-hgap;

	ul, li, a {
		height: 26px;
	}

	ul.right {
		float: right;
	}

	ul li {
		display: inline-block;

		& + li {
			margin-left: 23px;
		}

		a {
			.font-size( .5625 );
			line-height: 26px;
			float: left;
			color: #c3c3c3;
			font-weight: bold;
			text-decoration: none;
			text-transform: uppercase;

			&:hover {
				cursor: pointer;
				color: #fff;
			}

			&.fork {
				background: url( ../img/github-top.png ) no-repeat right center transparent;
				padding-right: 24px;
			}
		}
	}
}

.fancy-tip {
	display: block;
	position: absolute;

	width: 212px;
	height: 60px;	
	background: url( ../img/navigation-tip.png );
	background-repeat: no-repeat;
	.box-sizing( border-box );

	color: #fff;
	font-family: @sample-font-indie;
	.font-size( 0.95 );	
}

.main-navigation {
	.font-size( 1.063 );
	position: absolute;
	right: 0;
	top: 60px;
	overflow: visible;

	li {
		margin-left: 10px;

		&:hover {
			.main-navigation-tip {
				opacity: 1;
			}
		}

		.main-navigation-tip {
			// Standard setup
			top: 30px;
			right: 90px;
			opacity: .5;

			background-position: left bottom;
			padding-left: 23px;
			padding-top: 31px;

			// Wide setup. It works in IE9+ only though.
			@media screen and (min-width: 1210px) {
				right: -110px;	

				padding-top: 26px;
				background-position: left top;
				padding-left: 53px;					
			}
		}

		a {
			color: #6b6b6b;
			text-decoration: none;
			padding: 0 15px;
			height: 33px;
			line-height: 33px;
			display: inline-block;
			font-family: @sample-font-maven;

			&:hover, &.active
			{
				color: @sample-link-color;
				background: #C9E3E6;

				.border-radius( 100px );
				.box-shadow(
					0 -1px 3px rgba(0,0,0,0.2) inset,
					0 0 1px rgba(255,255,255,0.5),
					0 1px 3px rgba(0,0,0,0.1) inset
				);
			}
		}
	}
}

/* Main */

main {
	.font-size( .875 );
	padding-bottom: @sample-standard-vgap;

	section.greet {
		padding: @sample-standard-vgap @sample-standard-hgap;
		background: @sample-header-background;
		max-width: 100%;
		overflow: hidden;

		.background-image(linear-gradient(to top, darken( @sample-header-background, 5% ) 0%, @sample-header-background 100%));
		border-bottom: 6px solid #fafafa;
		box-shadow: 0 2px 3px rgba( 0,0,0,.15 );
		.box-sizing( border-box );

		& > div {
			.centered-page-content();
			position: relative;
		}

		#editor {
			padding: @sample-standard-hgap;
			border: 3px solid #CCC;
		}

		h1 {
			color: #fff;
			background: url( ../img/greet-bg.png ) left 3px no-repeat;
			padding-left: 15px;

			&.long {
				background-position: left bottom;
			}
		}

		p {
			margin: 2 * @sample-standard-vgap 0;
		}

		.cke {
			.box-shadow( 0px 5px 10px 0 darken( @sample-header-background, 10% ) );
		}
	}

	// Default vertical rhythm.
	p, ul, ol, pre, blockquote {
		margin: @sample-standard-vgap 0;
	}

	.cke {
		margin: 2 * @sample-standard-vgap 0;
	}

	h1, h2, h3 {
		font-family: @sample-font-maven;
		color: #000;

		// Default vertical rhythm.
		margin-top: 0.75 * @sample-standard-vgap;
		margin-bottom: 0.25 * @sample-standard-vgap;

		font-weight: normal;

		code, kbd {
			font-size: inherit;
		}
	}

	h1 {
		.font-size( 1.6875 );
		//color: #66ab16;
	}

	h2 {
		.font-size( 1.5 );
	}

	h3 {
		.font-size( 1.3125 );
	}

	a {
		color: @sample-link-color;
		text-decoration: none;

		&:hover {
			color: @sample-link-color-hover;
		}
	}

	pre, code, kbd {
		.border-radius( 3px );
		background: @sample-box-background-color;
		border: 1px solid @sample-box-border-color;
		padding: 3px 4px;
	}

	pre, code {
		.font-size( .813 );
		font-family: @sample-font-stack-monospace;
	}

	// (#10)
	kbd {
		.font-size( .75 );
		font-family: @sample-font-stack;

		.box-shadow(
			0 0 4px #fff inset,
			0 2px 0 @sample-box-border-color
		);
	}

	pre {
		padding: @sample-standard-vgap/2;
	}
}

/* Footer */

footer {
	.font-size( .8125 );
	overflow: hidden;
	border-top: 1px solid @sample-box-border-color;
	padding: @sample-standard-vgap @sample-standard-hgap;
	color: #888;

	p {
		margin: 0;
		display: inline-block;

		&#copy {
			float: right;
		}
	}

	a {
		color: @sample-link-color;
		text-decoration: none;
	}
}

/* Buttons */

.fancy-button {
	.user-select( none );
	.border-radius( 200px );
	.font-size( .813 );
	border: 0;
	display: inline-block;
	.background-image(linear-gradient(to bottom, @sample-fancy-color-1, @sample-fancy-color-2 ) );

	cursor: pointer;
	text-decoration: none;
	padding: @sample-fancy-padding-v 13px @sample-fancy-padding-v - 2;
	color: #fff;
	.user-select( none );
	.box-shadow(
		0 0 1px rgba( 255,255,255,.3 ) inset,
		0 1px 0 @sample-fancy-shadow-1-color,
		0 3px 0 @sample-fancy-shadow-2-color
	);
	text-shadow: 0 -1px 0 @sample-fancy-shadow-1-color;
	position: relative;
	top: 0;
	.transition( all 100ms );

	&:hover, &:focus {
		.background-image(linear-gradient(to bottom, @sample-fancy-color-2, @sample-fancy-color-1 ) );
		.box-shadow(
			0 1px 0 @sample-fancy-shadow-1-color,
			0 1px 0 @sample-fancy-shadow-2-color,
		);
		top: 2px;
		outline: none;
	}

	&:active, &-active,
	&:active:hover, &-active:hover {
		.background-image(linear-gradient(to bottom, @sample-fancy-color-2, @sample-fancy-color-1 ) );
		top: 3px;
		outline: none;
		.box-shadow(
			0 1px 0 @sample-fancy-shadow-2-color inset,
			0 3px 0 @sample-fancy-shadow-1-color inset
		);
	}
}

.fancy-button:not( .hidden ) + .fancy-button {
	margin-left: @sample-standard-hgap;
}