/* Special Combo */

.cke_skin_v2 .cke_rcombo
{
	display: inline-block;
	margin-left: 2px;
	margin-right: 2px;
}

.cke_skin_v2 .cke_rcombopanel
{
	border: 1px solid #316ac5;
	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
	border-top-left-radius: 0;
}

.cke_skin_v2 .cke_rcombo a
{
	filter: alpha(opacity=70); /* IE */
	opacity: 0.70; /* Safari, Opera and Mozilla */
}

.cke_skin_v2 .cke_rcombo .cke_label
{
	display: inline-block;
	line-height: 24px;
	vertical-align: top;
	padding-left: 4px;
	padding-right: 5px;
	filter: alpha(opacity=70); /* IE */
	opacity: 0.70; /* Safari, Opera and Mozilla */
	background-color: #f1f1e3;	/* Because of IE6+ClearType */
}

.cke_skin_v2 .cke_rtl .cke_rcombo .cke_label
{
	padding-right: 4px;
	padding-left: 5px;
}

.cke_skin_v2 .cke_rcombo .cke_text
{
	border: 1px solid #8f8f73;
	background-color: #fff;
	height: 14px;
	width:60px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 5px;
	padding-right: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
	display: inline-block;
}

.cke_skin_v2 .cke_ltr .cke_rcombo .cke_text
{
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.cke_skin_v2 .cke_rtl .cke_rcombo .cke_text
{
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.cke_skin_v2 .cke_browser_iequirks .cke_rcombo .cke_text
{
	height: 24px;
	width: 72px;
}

.cke_skin_v2 .cke_rcombo .cke_openbutton
{
    background-position: center center;
    background-image: url(images/arrowdown.gif);
    border-top: 1px solid #8f8f73;
    border-bottom: 1px solid #8f8f73;
	display: inline-block;
    width: 14px;
	height: 22px;
    background-repeat: no-repeat;
}

.cke_skin_v2 .cke_ltr .cke_rcombo .cke_openbutton
{
    border-right: 1px solid #8f8f73;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.cke_skin_v2 .cke_rtl .cke_rcombo .cke_openbutton
{
    border-left: 1px solid #8f8f73;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.cke_skin_v2 .cke_browser_iequirks .cke_rcombo .cke_openbutton
{
	height: 24px;
    width: 15px;
}

.cke_skin_v2 .cke_rcombo .cke_off a:hover,
.cke_skin_v2 .cke_rcombo .cke_off a:focus,
.cke_skin_v2 .cke_rcombo .cke_off a:active,
.cke_skin_v2 .cke_rcombo .cke_on a
{
	filter: alpha(opacity=100); /* IE */
	opacity: 1; /* Safari, Opera and Mozilla */
}

.cke_skin_v2 .cke_rcombo .cke_off a:hover .cke_text,
.cke_skin_v2 .cke_rcombo .cke_off a:focus .cke_text,
.cke_skin_v2 .cke_rcombo .cke_off a:active .cke_text,
.cke_skin_v2 .cke_rcombo .cke_on .cke_text
{
	border-color: #316ac5;
}

.cke_skin_v2 .cke_rcombo .cke_off a:hover .cke_openbutton,
.cke_skin_v2 .cke_rcombo .cke_off a:focus .cke_openbutton,
.cke_skin_v2 .cke_rcombo .cke_off a:active .cke_openbutton,
.cke_skin_v2 .cke_rcombo .cke_on .cke_openbutton
{
	border-color: #316ac5;
	background-color: #dff1ff;
}

.cke_skin_v2 .cke_rcombo .cke_on .cke_text
{
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.cke_skin_v2 .cke_rcombo .cke_on .cke_openbutton
{
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.cke_skin_v2 .cke_rcombo .cke_disabled .cke_label
{
	filter: alpha(opacity=30); /* IE */
	opacity: 0.3; /* Safari, Opera and Mozilla */
}

.cke_skin_v2 .cke_rcombo .cke_disabled .cke_text,
.cke_skin_v2 .cke_rcombo .cke_disabled .cke_openbutton
{
	filter: alpha(opacity=50); /* IE */
	opacity: 0.5; /* Safari, Opera and Mozilla */
}

.cke_skin_v2 .cke_rcombo .cke_disabled .cke_text
{
	color: #fff;
}

/* Firefox 2 & WebKit Section */

.cke_skin_v2 .cke_browser_gecko .cke_rcombo .cke_label,
.cke_skin_v2 .cke_browser_gecko .cke_rcombo .cke_text,
.cke_skin_v2 .cke_browser_gecko .cke_rcombo .cke_openbutton,
.cke_skin_v2 .cke_browser_webkit .cke_rcombo .cke_label,
.cke_skin_v2 .cke_browser_webkit .cke_rcombo .cke_text,
.cke_skin_v2 .cke_browser_webkit .cke_rcombo .cke_openbutton
{
	display: block;
	float: left;
}

.cke_skin_v2 .cke_rtl.cke_browser_gecko .cke_rcombo .cke_label,
.cke_skin_v2 .cke_rtl.cke_browser_gecko .cke_rcombo .cke_text,
.cke_skin_v2 .cke_rtl.cke_browser_gecko .cke_rcombo .cke_openbutton,
.cke_skin_v2 .cke_rtl.cke_browser_webkit .cke_rcombo .cke_label,
.cke_skin_v2 .cke_rtl.cke_browser_webkit .cke_rcombo .cke_text,
.cke_skin_v2 .cke_rtl.cke_browser_webkit .cke_rcombo .cke_openbutton
{
	float: right;
}
